/* TODO: change CSS to be mobile first and have the console be at the bottom for mobile (down the line) */

body {
	display: grid;
	grid-template-columns: 80% 20%;
	margin: 0;
	padding: 0;
}

#screen {
	grid-column: 1;
	width: 100%;
	height: 100vh;
}

#console {
	grid-column: 2;
	background-color: silver;
	display: flex;
	flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    min-height: 100vh;
}

#console > button {
    margin: 0.5%;
    line-height: 1.5;
}

#points-input {
    height: 30vh;
}

.status-info {
    color: black;
}

.status-error {
    color: red;
}

.status-success {
    color: blue;
}