body {
	display: grid;
	grid-template-columns: 60% 40%;
	margin: 0;
	padding: 0;
}

#screen {
	grid-column: 1;
	width: 100%;
	height: 100vh;
}

#console {
	grid-column: 2;
	background-color: silver;
	display: flex;
	flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    min-height: 100vh;
}

#points-input {
    height: 50vh;
}